flows.json
[{"id":"adf5fe8a.0701e","type":"tab","label":"Flow 1"},{"id":"c87f041a.9d8118","type":"mongodb","z":"","hostname":"mongo","port":"27017","db":"blog","name":"mongo"},{"id":"95a04972.1daad8","type":"websocket-listener","z":"","path":"/ws/posts","wholemsg":"false"},{"id":"89916908.e908e8","type":"mongodb in","z":"adf5fe8a.0701e","mongodb":"c87f041a.9d8118","name":"find posts","collection":"posts","operation":"find","x":927,"y":283,"wires":[["62c0db99.ad9354"]]},{"id":"a3cdbeee.860ea","type":"http in","z":"adf5fe8a.0701e","name":"","url":"/posts","method":"get","swaggerDoc":"","x":232,"y":214,"wires":[["94ddaa28.aa4e68"]]},{"id":"94ddaa28.aa4e68","type":"change","z":"adf5fe8a.0701e","name":"Mongo find all posts","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":443,"y":324,"wires":[["30089a0d.2a1996"]]},{"id":"30089a0d.2a1996","type":"function","z":"adf5fe8a.0701e","name":"mongo find format","func":"msg.limit = 100 ;\nmsg.skip = 0 ;\nmsg.sort = { \"_id\": -1 };\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":329,"wires":[["89916908.e908e8"]]},{"id":"62c0db99.ad9354","type":"template","z":"adf5fe8a.0701e","name":"Template Posts","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Flow blog - Posts</title>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n        <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js\"></script>\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n        <style>\n            .post {\n                border-width: 1px;\n                border-style: solid;\n            }\n        </style>\n    </head>\n    <body>\n        <div class=\"container-fluid\">\n            <div class=\"col-md-8 col-md-offset-2\">\n                <div class=\"h1\">\n                    Posts\n                </div>\n                <div id=\"posts\">\n                    {{#payload}}\n                    <div class=\"post\" style=\"margin-bottom: 1em;\">\n                        <div class=\"bg-info lead\" style=\"padding-left: 1em; padding-right: 1em;\">\n                            {{title}}\n                        </div>\n                        <div style=\"padding-bottom: 1em; padding-left: 1em; padding-right: 1em;\">\n                            {{content}}\n                        </div>\n                    </div>\n                    {{/payload}}\n                </div>\n            </div>\n            <div class=\"form-group col-md-8 col-md-offset-2\">\n                <form id=\"formpost\" action=\"/post\" method=\"post\">\n                    <label>Title</label>\n                    <input id=\"title-input\" class=\"form-control\" type=\"text\" name=\"title\" placeholder=\"Title...\"></input><br>\n                    <label>Content</label>\n                    <textarea id=\"content-input\" class=\"form-control\" name=\"content\" placeholder=\"Content...\"></textarea><br>\n                    <button type=\"submit\" class=\"btn btn-primary\">Post</button>\n                </form>\n            </div>\n        </div>\n        <script>\n            $(\"#formpost\").on(\"submit\", function(e) {\n\t            e.preventDefault();\n\t            $.post(this.action, $(this).serialize());\n\t            $(\"#formpost\").find(\"input[type=text], textarea\").val(\"\");\n            });\n            \n            var conn = new WebSocket('ws://localhost:1880/ws/posts');\n            conn.onopen = function() {\n                console.log('Websocket connected');\n            };\n            conn.onerror = function(err) {\n                console.log(\"Error: \" + e.err);\n            };\n            conn.onmessage = function(e) {\n                var post = JSON.parse(e.data);\n                var elem =  '<div class=\"post\" style=\"margin-bottom: 1em;\">';\n                    elem +=     '<div class=\"bg-info lead\" style=\"padding-left: 1em; padding-right: 1em;\">';\n                    elem +=         post.title;\n                    elem +=     '</div>';\n                    elem +=     '<div style=\"padding-bottom: 1em; padding-left: 1em; padding-right: 1em;\">';\n                    elem +=         post.content;\n                    elem +=     '</div>';\n                    elem += '</div>';\n                $('#posts').prepend(elem);\n            };\n        </script>\n    </body>\n</html>\n","x":1183,"y":291,"wires":[["49bfc329.3b767c"]]},{"id":"49bfc329.3b767c","type":"http response","z":"adf5fe8a.0701e","name":"","x":1505,"y":365,"wires":[]},{"id":"d2bcf2b2.d3816","type":"http in","z":"adf5fe8a.0701e","name":"","url":"/post","method":"post","swaggerDoc":"","x":221,"y":550,"wires":[["12d7d568.21739b","7d2c2fac.36273","1aaff5d7.19d2ca"]]},{"id":"12d7d568.21739b","type":"mongodb out","z":"adf5fe8a.0701e","mongodb":"c87f041a.9d8118","name":"save post","collection":"posts","payonly":true,"upsert":false,"multi":false,"operation":"store","x":527,"y":609,"wires":[]},{"id":"7d2c2fac.36273","type":"template","z":"adf5fe8a.0701e","name":"Post saved","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Flow blog - New Post</title>\n        <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n        <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n    </head>\n    <body>\n        <div class=\"container-fluid\">\n            <div class=\"col-md-8 col-md-offset-2 bg-success\">\n                Post saved\n            </div>\n        </div>\n    </body>\n</html>","x":618,"y":524,"wires":[["d66a5a92.4e3328"]]},{"id":"d66a5a92.4e3328","type":"http response","z":"adf5fe8a.0701e","name":"","x":1003,"y":526,"wires":[]},{"id":"1aaff5d7.19d2ca","type":"websocket out","z":"adf5fe8a.0701e","name":"","server":"95a04972.1daad8","client":"","x":535,"y":706,"wires":[]},{"id":"1dad3a52.2bd566","type":"inject","z":"adf5fe8a.0701e","name":"Delete all posts","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"x":242,"y":830,"wires":[["ede4291e.251968"]]},{"id":"ede4291e.251968","type":"mongodb out","z":"adf5fe8a.0701e","mongodb":"c87f041a.9d8118","name":"","collection":"posts","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":483,"y":833,"wires":[]},{"id":"622fa055.39345","type":"http in","z":"adf5fe8a.0701e","name":"","url":"/","method":"get","swaggerDoc":"","x":178,"y":291,"wires":[["94ddaa28.aa4e68"]]}]